.container {
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 1rem;
    display: inline-block;
    background-color: white;
     width: 20rem; 
}

/* .divcenter1 {
    display: flex;
    justify-content: center; 
    align-items: center;    
} */

.divcenter {
    text-align: center; 
}

/* .divrow1 {
    display: flex; 
    justify-content: flex-start;
    gap: 15px; 
} */

.divrow > * {
    display: inline-block; /* Align child elements in a row */
}

.divrowvert {
    display: flex;
  justify-content: flex-start; /* Horizontal alignment (optional) */
  align-items: flex-start; 
}

/* landscape/portrait */
@media (orientation: portrait) {
    .container {
        /* display: block;
        width: auto;  */
    }
  }


.divRowProportial{
    display: flex;
    justify-content: space-evenly; /* Equal space between and around items */
    align-items: center;
}