:root {
    --primary-color: #3498db;
    --border-radius: 10px;
    --padding-size: 8px;
    /* --bgdark: #0069d1; */
    --color-dark: #0069d1;
    --color-light: #fff;
    --color-text: #333;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 4px;
    background: slategray;
    color: white;
    cursor: pointer;
    width: fit-content;
    margin: 0.5rem;
}

button:hover {
    background: slategray;
}

button.submit {
    background-color: var(--color-dark);
    border: 1px solid var(--color-dark);
    color: white;
}

button.submit:hover {
    background-color: #005db8;
    color: white;
}

button.cancel {
    background-color: lightgray;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
}

button.cancel:hover {
    background: var(--color-dark);
    color: white;
}

button.delete {
    background-color: lightpink;
    border: 1px solid red;
    color: red;
}

button.delete:hover {
    background: red;
    color: white;
}

.input-field,
.textarea-field {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    /* Ensures padding and border are included in the width */
}


form {
    text-align: left;
    margin: 0;
    padding: 0;
}

.containerRowSides {
    display: flex;
    justify-content: space-between;
    /* Optional: Adjust spacing */
    align-items: center;
    /* Optional: Align items vertically */
}

.horizontal-align input,
.horizontal-align img,
.horizontal-align a,
.horizontal-align input {
    vertical-align: middle;
    /* Aligns the input and image to the middle of the line */
    /* margin-right: 10px; */
    /* Optional: Add spacing between the elements */
}

.horizontal-align {
    display: flex;
    align-items: center;
}

.left-align {
    text-align: left;
    /* Align text and inline elements to the left */
}

input[type="text"] {
    /* Add your styles here */
    border-radius: 0.3rem;
    border: 1px solid #333;
    padding: 5px;
}