

        <!-- *ngFor="let item of items" -->
        @for (item of items; track item.id){
   
            <div class="container">
                <div class="divrow">
                    <img  src={{item.img}} class="imground" style="margin-right: 1rem;">
                    <span>
                        <h2>{{item.title}}</h2> {{item.price}}/кг
                        <hr/>
                        <div>{{item.descr}} <button class="btn-round">...</button> </div>
                    </span>
                </div>
                </div>
    }



