<div class="modal">
	<div class="modal-content">
		<form [formGroup]="itemForm" (ngSubmit)="handleSubmit()">
			<div>
				<input id="task-name" formControlName="title" [(ngModel)]="item.title"/>
				<!-- <div class="divRed">
					Title is required.
				</div> -->
				

			</div>
			<div>
				<textarea id="task-description" formControlName="descr" [(ngModel)]="item.descr"></textarea>
			</div>

			<div>
				<label for="task-img">Pict</label>
				<input id="task-img" formControlName="img" [(ngModel)]="item.img"/>
			</div>

			<div style="text-align: left;">
				€<input id="task-price" formControlName="price" [(ngModel)]="item.price" 
				style="width: 5rem;"
				/>гр
			</div>

			<div class="divRowProportial">
				<button class="btn bgOk" type="submit" >Submit</button>
				<button class="btn bgCancel" type="button" (click)="handleCancel()">Cancel</button>
				<button class="btn bgRed" type="button" (click)="handleDelete()">Delete</button>
			</div>
			<input type="hidden" formControlName="skid" [(ngModel)]="item.skid"/>
		</form>
	</div>
</div>
